table {
    width: 100%;
}

tr:nth-child(even) {
    background-color: #FFFFFF;
}

tr:nth-child(even):hover {
    background-color: #FFFFFF;
}
        
tr:nth-child(odd) {
    background-color: #90ee90;
}

tr:nth-child(odd):hover {
    background-color: #90ee90;
}

#header-row {
    background: none;
}

td.is-above {
    background-color: #FF726F;
}

td.is-below {
    background-color: #ADD8E6;
}

td.is-zero {
    background-color: #C6C6C6;
}