table {
    width: 100%;
  }

.mat-row:nth-child(even){
    background-color: #FFFFFF;
}
        
.mat-row:nth-child(odd){
    background-color: #90ee90;
}

td.is-above {
    background-color: #FF726F;
}

td.is-below {
    background-color: #ADD8E6;
}

td.is-zero {
    background-color: #C6C6C6;
}